@import 'antd/dist/antd.css';

.antd-inp {
  width: 270px;
}

.done {
  font-size: 16px;
  font-weight: 600;
}

.antd-done {
  text-decoration: line-through;
  background: #1890ff;
  color: aliceblue;
  font-size: 16px;
  font-weight: 600  ;
}

.antd-time {
  font-size: 16px;
  font-weight: 700;
}